<div class="row row-cols-1 row-cols-md-2">
 <div class="col-sm-12 col-md-6">
  <div class="row row-cols-1">
   <div class="col">
    <a href="git-novice-schedule">
     <h3>
      Version Control with git
     </h3>
    </a>
    <p>
     Automated Version Control is a process for tracking changes to files and folders within a 'repository'.
  This workshop will teach you how to use the Git version control system to manage your code, tracking changes to files,
  inspecting and merging multiple different changes, and how to collaborate with other Git users using the GitHub online
  respository store.
    </p>
   </div>
  </div>
 </div>
 <div class="col-sm-12 col-md-6">
  <div class="row row-cols-1">
   <div class="col">
    <a href="project-novice-schedule">
     <h3>
      Managing Academic Software Development
     </h3>
    </a>
    <p>
     This course is designed to introduce academics to project management in a light and flexible way, 
  providing basic guidance on breaking a project into tasks to be prioritised and tracked. 
  It also covers software sustainability, encouraging best practise like clear coding and issue management, 
  as well as the use of DOIs and releases to enable easy citation.
    </p>
   </div>
  </div>
 </div>
</div>